{% extends "base.html" %}
{% load static %}
    {% block Content %}
        <!-- **************** MAIN CONTENT START **************** -->
        <main>
            <!-- Main Banner START -->
            <section class="pt-8 pt-xl-9">
                    <div class="container work-process  pb-5 pt-5">
                        <div class="title mb-5 text-center">
                        <h3>How it works</h3>
                        <p>Our platform is simple yet powerful. Here's how it works:</p>
                    </div>
                        <!-- ============ step 1 =========== -->
                        <div class="row">
                            <div class="col-md-5">
                                <div class="process-box" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="process-step">
                                                <p class="m-0 p-0">Step</p>
                                                <h2 class="m-0 p-0">01</h2>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <h5>Sign Up and Create a Profile</h5>
                                            <p><small>Start by creating a detailed profile that outlines your business idea, your skills, and what you're looking for in a potential partner. </small></p>
                                        </div>
                                    </div>
                                    {% comment %} <div class="process-line-l"></div> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                {% comment %} <div class="process-point-right"></div> {% endcomment %}
                            </div>
                        </div>
                        <!-- ============ step 2 =========== -->
                        <div class="row">
                            
                            <div class="col-md-5">
                                {% comment %} <div class="process-point-left"></div> {% endcomment %}
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <div class="process-box" data-aos="fade-left" data-aos-duration="1000">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="process-step">
                                                <p class="m-0 p-0">Step</p>
                                                <h2 class="m-0 p-0">02</h2>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <h5>Search for Local Entrepreneurs</h5>
                                            <p><small>Use our search feature to find individuals in your local area who have similar business interests. Our algorithm matches you with potential partners based on location, business type, and complementary skills. </small></p>
                                        </div>
                                    </div>
                                    {% comment %} <div class="process-line-r"></div> {% endcomment %}
                                </div>
                            </div>
                
                        </div>
                        <!-- ============ step 3 =========== -->
                        <div class="row">
                            <div class="col-md-5">
                                <div class="process-box" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="process-step">
                                                <p class="m-0 p-0">Step</p>
                                                <h2 class="m-0 p-0">03</h2>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <h5>Connect and Collaborate</h5>
                                            <p><small>Once you've found a potential match, you can reach out and start a conversation. Discuss your ideas, share your visions, and explore how you can work together to bring your business dreams to life.</small></p>
                                        </div>
                                    </div>
                                    {% comment %} <div class="process-line-l"></div> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                {% comment %} <div class="process-point-right"></div> {% endcomment %}
                            </div>
                        </div>
                        <!-- ============ step 4 =========== -->
                        <div class="row">
                            <div class="col-md-5">
                                {% comment %} <div class="process-point-left"></div> {% endcomment %}
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <div class="process-box" data-aos="fade-left" data-aos-duration="1000">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="process-step">
                                                <p class="m-0 p-0">Step</p>
                                                <h2 class="m-0 p-0">04</h2>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <h5>Access Resources and Guidance</h5>
                                            <p><small>Our website also offers a wealth of resources to help you get started. From business planning tools to funding advice, you'll find everything you need to navigate the early stages of your entrepreneurial journey. </small></p>
                                        </div>
                                    </div>
                                    {% comment %} <div class="process-line-r"></div> {% endcomment %}
                                </div>
                            </div>
                            
                            
                        </div>
                        <!-- ============ step 3 =========== -->
                        {% comment %} <div class="row">
                            <div class="col-md-5">
                                <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="process-step">
                                                <p class="m-0 p-0">Step</p>
                                                <h2 class="m-0 p-0">05</h2>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <h5>What is Lorem Ipsum?</h5>
                                            <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </small></p>
                                        </div>
                                    </div>
                                    <div class="process-line-l"></div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <div class="process-point-right process-last"></div>
                            </div>
                        </div> {% endcomment %}
                        <!-- ============ -->
                    </div>
                
            </section>

            <section>
                <div class="container">
                    <div class="row g-4 align-items-center">
                        <div class="col-lg-5">
                            <!-- Title -->
                            <h1> <span class="text-warning">Benefits </span>of our platform</h1>
                            <!-- Image -->
                            {% comment %} <img src="assets/images/about/03.jpg" class="rounded-2" alt=""> {% endcomment %}
                        </div>
                        <div class="col-lg-7">
                            <div class="row g-4">
                                <!-- Item -->
                                <div class="col-sm-6">
                                    <div class="icon-lg bg-orange bg-opacity-10 text-orange rounded-2"><i class="fas fa-book fs-5"></i></div>
                                    <h5 class="mt-2">Shared Resources</h5>
                                    <p class="mb-0">Pooling your resources with a partner can significantly reduce the financial burden and provide access to tools and materials that might otherwise be out of reach.</p>
                                </div>
                                <!-- Item -->
                                <div class="col-sm-6">
                                    <div class="icon-lg bg-info bg-opacity-10 text-info rounded-2"><i class="fas fa-user-tie fs-5"></i></div>
                                    <h5 class="mt-2">Combined Expertise</h5>
                                    <p class="mb-0">No one knows everything, but together you can cover more ground. By collaborating with someone who has a different skill set, you can create a well-rounded team capable of tackling various aspects of the business.</p>
                                </div>
                                <!-- Item -->
                                <div class="col-sm-6">
                                    <div class="icon-lg bg-success bg-opacity-10 text-success rounded-2"><i class="fa-sharp-duotone fa-solid fa-users"></i></div>
                                    <h5 class="mt-2">Motivation and Support</h5>
                                    <p class="mb-0">Entrepreneurship can be a lonely path. Having a partner means having someone to share the highs and lows, celebrate successes, and support each other through challenges.</p>
                                </div>
                                <!-- Item -->
                                <div class="col-sm-6">
                                    <div class="icon-lg bg-purple bg-opacity-10 text-purple rounded-2"><i class="fas fa-university fs-5"></i></div>
                                    <h5 class="mt-2">Local Focus</h5>
                                    <p class="mb-0">By connecting with local entrepreneurs, you can tap into the unique characteristics of your community, understand local market needs, and build a network of local support.</p>
                                </div>		
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    {% endblock Content %}