{% extends "base.html" %}
{% load static %}
    {% block Content %}    
    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- Main detail START -->
        <section class="pt-lg-8 pt-xl-9">
            <div class="container pt-4 pt-lg-0">
                <div class="row">
                    <div class="col-xl-8 mx-auto">
                        <!-- Main title -->
                        <div class="text-center mb-6">
                            <h1>Terms & condition</h1>
                            <p class="lead mb-0">Last update on June 2024</p>
                        </div>

                        <h6 class="mb-3">Introduction</h6>
                        <p>Welcome to KO-FOUNDER ("we," "our," or "us"). These Terms and Conditions ("Terms") govern your use of our website and services. By accessing or using our website, you agree to comply with and be bound by these Terms. If you do not agree with any part of these Terms, please do not use our website.</p>
        
                        <h6 class="mb-3 mt-5">Use of Our Services</h6>
                        
                        <h6 class="mb-3">1. Eligibility</h6>
                        <p>You must be at least 18 years old to use our services. By using our website, you represent and warrant that you are 18 years of age or older.</p>
                        
                        <h6 class="mb-3 mt-5">2. Account Registration</h6>
                        <p>To access certain features of our website, you may need to create an account. You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete. You are responsible for maintaining the confidentiality of your account password and for all activities that occur under your account.</p>
                        
                        <h6 class="mb-3 mt-5">3. Prohibited Activities</h6>
                        <p>You agree not to:</p>
                        <ul class="list-group list-group-borderless">
                            <li class="list-group-item heading-color d-flex mb-0">
                                <i class="bi bi-arrow-right me-2"></i>Use our website or services for any illegal or unauthorized purpose.
                            </li>
                            <li class="list-group-item heading-color d-flex mb-0">
                                <i class="bi bi-arrow-right me-2"></i>Post, upload, or distribute any content that is unlawful, defamatory, obscene, or otherwise objectionable.
                            </li>
                            <li class="list-group-item heading-color d-flex mb-0">
                                <i class="bi bi-arrow-right me-2"></i>Attempt to interfere with the proper functioning of our website, including by hacking, spamming, or using automated systems.
                            </li>
                            <li class="list-group-item heading-color d-flex mb-0">
                                <i class="bi bi-arrow-right me-2"></i>Impersonate any person or entity or misrepresent your affiliation with any person or entity.
                            </li>
                        </ul>
                        
                        <h6 class="mb-3 mt-5">User Content</h6>
                        
                        <h6 class="mb-3">1. Content Ownership</h6>
                        <p>You retain ownership of any content you post, upload, or otherwise make available on our website ("User Content"). By providing User Content, you grant us a non-exclusive, worldwide, royalty-free, sublicensable, and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the User Content in connection with our website and services.</p>
                        
                        <h6 class="mb-3 mt-5">2. Content Responsibility</h6>
                        <p>You are solely responsible for your User Content and any consequences of posting or publishing it. We do not endorse, support, or guarantee the completeness, truthfulness, accuracy, or reliability of any User Content.</p>
                        
                        <h6 class="mb-3 mt-5">Intellectual Property</h6>
                        
                        <h6 class="mb-3">1. Ownership</h6>
                        <p>All content and materials on our website, including but not limited to text, graphics, logos, images, and software, are the property of KO-FOUNDER or its licensors and are protected by intellectual property laws. You may not use, reproduce, distribute, or create derivative works of such content without our prior written consent.</p>
                        
                        <h6 class="mb-3 mt-5">2. Trademarks</h6>
                        <p>KO-FOUNDER and all related logos and names are trademarks of KO-FOUNDER. You may not use our trademarks without our prior written permission.</p>
                        
                        <h6 class="mb-3 mt-5">Disclaimers and Limitation of Liability</h6>
                        
                        <h6 class="mb-3">1. Disclaimer of Warranties</h6>
                        <p>Our website and services are provided "as is" and "as available" without any warranties of any kind, either express or implied. We do not warrant that our website will be uninterrupted, error-free, or free of viruses or other harmful components.</p>
                        
                        <h6 class="mb-3 mt-5">2. Limitation of Liability</h6>
                        <p>To the fullest extent permitted by law, KO-FOUNDER shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses resulting from (i) your use or inability to use our website; (ii) any unauthorized access to or use of our servers and/or any personal information stored therein; (iii) any interruption or cessation of transmission to or from our website; or (iv) any bugs, viruses, trojan horses, or the like that may be transmitted to or through our website by any third party.</p>
                        
                        <h6 class="mb-3 mt-5">Indemnification</h6>
                        <p>You agree to indemnify, defend, and hold harmless KO-FOUNDER and its affiliates, officers, directors, employees, and agents from and against any claims, liabilities, damages, losses, and expenses, including reasonable attorneys' fees, arising out of or in any way connected with your access to or use of our website or services, your User Content, or your violation of these Terms.</p>
                        
                        <h6 class="mb-3 mt-5">Governing Law and Dispute Resolution</h6>
                        <p>These Terms shall be governed by and construed in accordance with the laws of India, without regard to its conflict of law principles. Any disputes arising out of or in connection with these Terms shall be resolved through binding arbitration in accordance with the rules , and judgment on the arbitration award may be entered in any court having jurisdiction.</p>
                        
                        <h6 class="mb-3 mt-5">Changes to These Terms</h6>
                        <p>We may modify these Terms from time to time. If we make material changes, we will provide notice by posting the updated Terms on our website and updating the effective date. Your continued use of our website after such changes constitutes your acceptance of the new Terms.</p>
                        
                        <h6 class="mb-3 mt-5">Contact Us</h6>
                        <p>If you have any questions or concerns about these Terms, please <a href="{% url "contact" %}">contact us</a>.</p>
                    </div>
                </div>
                <!-- Row END -->
            </div>
        </section>
        <!-- Main detail END -->

        <!-- CTA START -->
        <section class="pt-0">
            <div class="container">
                <div class="bg-dark rounded p-4 p-sm-6" data-bs-theme="dark">

                    <div class="row align-items-center">
                        <!-- Title and inputs -->
                        <div class="col-md-6">
                            <!-- Title -->
                            <h2>Let’s automate & simplify your performance</h2>
                            <p class="mb-0">Let us manage your IT for you so that you can get back to doing what you do best and we look in the future.</p>
                        </div>

                        <div class="col-md-6 text-end">
                            <a href="{% url 'contact' %}" class="btn btn-lg btn-primary mb-0">Get started</a>
                        </div>
                    </div>
                    <!-- Row END -->
                </div>
            </div>
        </section>
        <!-- CTA END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    {% endblock Content %} 